        * {
          box-sizing: border-box;
        }

        body {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1em;
          margin: 0;
          padding: 0;
          height: 100vh;
          overflow-Y: hidden;
        }

        .LocalGPTrespons-container {
          border: 1px solid #ccc;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
        }

        .LocalGPTrole {
          display: inline-block;
          width: 32px;
          height: 32px;
          vertical-align: top;
          background-color: #F3F8D7;
          margin-right: 10px;
        }

        .LocalGPTrole img {
          width: 100%;
          height: 100%;
        }

        .LocalGPTcontext {
          display: inline-block;
          width: calc(100% - 42px);
          vertical-align: top;
        }

        .LocalGPTtextareablur {
          display: block;
          width: 100%;
          padding: 5px;
          margin-bottom: 5px;
          border: 2px solid #ccc;
          background-color: #ffffe9;
          color: #111;
          border-radius: 5px;
          box-sizing: border-box;
          font-size: 1em;
          height: calc(1em + 15px);
          /* Set initial height to one line */
          resize: none;
          /* Prevent resizing */
        }


        .LocalGPTbutton-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .container {
          display: flex;
          height: calc(100% - 30px);
          /* Adjusted height to make room for status */
          background-color: #ffffe9;
          /* Added background color */
        }

        .left,
        .middle,
        .right {
          border: 1px solid;
        }

        .response {
          height: 50%;
          background-color: #F3F8D7;
          /* Added background color */
          overflow: auto;
        }

        .userinput {
          height: 30%;
          width: 100%;
          resize: none;
          overflow: auto;
          background-color: #F3F8D7;
          /* Added background color */
        }

        .status {
          position: fixed;
          bottom: 0;
          width: 100%;
          background-color: #e9e9e9;
          border: 1px solid;
          height: 30px;
          /* Added fixed height to status */
        }

        .left,
        .right {
          width: 20%;
          resize: horizontal;
          overflow: none;
          background-color: #ffffe9;
          /* Added background color */
        }

        .middle {
          width: 80%;
          overflow: auto;
          background-color: #ffffcc;
          /* Added background color */
          box-sizing: border-box;
        }

        .LocalGPTselect.custom-width {
          width: 20%;
        }

        .LocalGPTtextareablur.custom-height {
          height: 35px;
        }

        .LocalGPTtextarea {
          width: 100%;
          padding: 5px;
          border: 1px solid #ccc;
          border-radius: 1px;
          box-sizing: border-box;
          margin-bottom: 5px;
          background-color: #ffffe9;
          color: #111;
          height: 30%;
          resize: none;
        }

        .iconmenu {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        
        .iconmenu.LocalGPTbutton-container {
          flex-grow: 1;
          justify-content: flex-end;   }
        
        .iconmenu img {
          opacity: 1;
          cursor: pointer;
        }
        .options {
          width: 100%;
          height: 240px;
          box-sizing: border-box;
        }

        .profilelist {
          height: calc(100% - 300px);
          overflow: auto;
        }

        .LocalGPTbutton-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

       
        .LocalGPTprofiles-content {
          background-color: #F3F8D7;
        }

        .LocalGPTprofileslabel {
          display: inline-block;
          width: 50%;
          margin-bottom: 5px;
          font-weight: bold;
          height: 5%;
          
          /* adjust height for label */
        }

        .LocalGPTinput[type=text],
        .LocalGPTinput[type=password],
        .LocalGPTinput[type=number],
        .LocalGPTselect
         {
          margin-bottom: 1%;
          /* adjust margin for inputs, select, and buttons */
          font-size: 1em;
          display: inline-block;
          width: 50%;          
          padding: 5px;
          border: 2px solid #ccc;
          
          color: #111;
          border-radius: 5px;
          box-sizing: border-box;
        }        

        .LocalGPTprofiles-title {
          background-color: #3c78d8;
          color: white;
          border: 1px solid #111;
          border-radius: 4px;
          cursor: pointer;
          display: block;
          position: relative; /* add this line for absolute positioning */
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        
        .LocalGPTprofiles-delete {
          position: absolute; /* change from float to absolute positioning */
          top: 0;
          right: 0;
          margin: 5px; /* adjust margin to your desired size */
        }